.testimonials{
  padding:140px 80px;
  overflow:visible;
}
.testimonials h1{
  text-align:center;
  font-size:60px;
  margin-bottom:80px;
}

.testimonialContainer{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
  gap:40px;
}

.testimonialCard{

  background:rgba(255,255,255,0.08);

  border:1px solid rgba(255,255,255,0.1);

  border-radius:30px;

  padding:40px;

  backdrop-filter:blur(10px);

  transition:0.4s;

  height:100%;

  display:flex;

  flex-direction:column;

  justify-content:space-between;
}

.testimonialCard:hover{
  box-shadow:0 0 40px rgba(10,77,255,0.3);
}

.stars{
  color:#ff7a00;
  font-size:24px;
  margin-bottom:20px;
}

.review{
  color:#d1d5db;
  line-height:1.8;
  font-size:18px;
  margin-bottom:30px;
}

.testimonialCard h2{
  font-size:28px;
  margin-bottom:5px;
}

.testimonialCard span{
  color:#ff7a00;
}

@media(max-width:900px){

  .testimonials{
    padding:100px 25px;
  }

  .testimonials h1{
    font-size:42px;
  }

}

.testimonialSwiper{
  padding-top:20px;
  padding-bottom:60px;
}

.swiper-pagination-bullet{
  background:#00bfff !important;
}

.swiper-slide{
  height:auto;
}

.swiper-slide{
  display:flex;
}

.swiper{
  overflow:visible !important;
}